.footer {
  width: 1280px;
  height: 455px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EE4367;
}
.footer .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer p {
  font-family: Gill;
  font-size: 20px;
  color: white;
  text-align: center;
}
.footer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}
.footer .socialMedia .facebook {
  width: 30px;
  height: 30px;
  background-image: url(../images/social-media/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .socialMedia .instagram {
  width: 30px;
  height: 30px;
  background-image: url(../images/social-media/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .socialMedia .twitter {
  width: 30px;
  height: 30px;
  background-image: url(../images/social-media/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .copyright {
  font-family: Gill;
  font-size: 12px;
  color: white;
  margin: auto;
  text-align: center;
  opacity: 50%;
}